.bodyUs{
    background-color: #fff;
}
.nosotros{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.s2{
    display: flex;
    width: 100%;
    height:700px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contentTitle{
    width: 60%;
}
.contentTitle > p{
    max-width: 90%;
    margin-bottom: .5rem;
}

.usImg{
    width: 450px;
}
@media screen and (max-width:1281px){
    .contentTitle > p{
        max-width: 100%;
    }
    .s1{
        gap: 2rem;
    }
    .contentTitle{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .titleUs{
        font-size: 2rem;
        text-align: start;
        margin-bottom: 1rem;
    }
    
}
@media screen and (max-width:700px){
    .nosotros{
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
}