.css-3e5t3k{
  width: 70px !important;
}
.contentDetail{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.imgDetail{
  width: 300px;
}
.contentDeatailCard{
  height: auto;
}
