.contact{
    /* height: 100vh; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}
.titleContanct{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.contentFirstContact{
    display: flex;
    gap: 1rem;  
}
.contentFirstContact2{
    display: flex;
    flex-direction: column  ;
    gap: 1rem;
    margin-bottom: 3rem;
}
.politics{
    color: grey;
    text-transform: italic;
}
.mail{
    width:100%;
}
