.titlePolitics{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
}
.contentHeadPolitics{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    /* flex-wrap: wrap; */
    
}
.contentHeadPolitics2{
    display: flex;
    padding-bottom: 3rem;
}
.contenPolitics{
    display: flex;
    gap: 1rem;
    padding-bottom: 3rem;
}
.content1{
    width: 50%;
}
.content2{
    width: 50%;
}
.content1 >h1{
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content2 >h1{
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.textS{
    max-width: 80%;
}