body{
    font-family: 'Metropolis', sans-serif !important;
    position: relative;
   
}
@font-face {
    font-family: 'Monument Extended';
    src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
  }
.no-scroll{
    overflow: hidden;
}

.logo{
    display: flex;
}

.css-spn4bz:hover {
    text-decoration: none !important;
}


.contentLinks.active{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
}
.crear::before{
    background-color: transparent !important;
}
  
.contentLinks>* {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 0;   
    text-transform: uppercase;
    transition: color 0.1s, background-color 0.1s;
    /* color: "#E9D8FD" */
}
.contentLinks>*:focus,
a:active {
    color: #fff;
}

.contentLinks>*::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: color 0.1s, -webkit-transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.contentLinks>*:active::before {
    background-color: rgba(255, 255, 255, 0.9);
}

.contentLinks>*:hover::before,
.contentLinks>*:focus::before {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.contentLinks>*:hover {
    color: #fff !important;
}
.btn{
    border-color: rgba(255, 255, 255, 0.8) !important;
    color: #fff !important;
}
.css-1fifbr8:hover, .css-1fifbr8[data-hover] {
    background: rgba(255, 255, 255, 0.1) !important;
}
.gZcVVY.active{
    top: 90px !important;
}
@media (min-width:991px){
    .contentLinks{
        position: initial;
        margin: 0;
    }
    .header{
        justify-content: center;
    }
    
}
