.contentAllNewEvent{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;    
}
.contentForm{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contentAside{
    width: 50%;
}

@media screen and (max-width:700px){
    .contentAllNewEvent{
        height: auto ;
        flex-direction: column;
    }
    .contentForm{
        width: 100%;
    }
    .contentAside{
        width: 100%;
    }
} 