
.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 60s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(500px * 14);
  gap:1rem;
  background-color: #6B46C1;
  color: #fff;
}
.slider .slide {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 10px;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}

.swiper {
  width: 100%;
  height: fit-content;
  z-index: 0 !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: fit-content;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiperContent {
  height: auto;

}

.swiper-button-prev,
.swiper-button-VITE {
  color: #6B46C1 !important;
}

/* mobile styles */
.swiperContent.res {
  height: auto;
  background-color: #252525;

}

.resSlide {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #252525;
}

.resSlide>img {
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #252525;
}

@media screen and (max-width:991px) {
  .swiper-container {
    width: 100%;
  }
}